@use "@fortawesome/fontawesome-free/css/all.min.css";

@import '~bootstrap/scss/bootstrap';


// :::::::GENERAL::::::::::::
:root{
    --my-primary: #eb1335;
}

nav{
    font-weight: 700;
}



//:::::::UTILITIES::::::
li .nav-link{
    color: red;
}

.card{
    height: 100%;
    img{
        aspect-ratio: 2/3;
        object-fit: cover;

    }
}

.logo_welcome{
    width: 60vw;
}